@media (max-width: 1800px) {}

@media (max-width: 1600px) {}

@media (max-width: 1400px) {}


@media (max-width: 1200px) {
    .aboutus-left__caption {
        font-size: 3rem;
        max-width: 38rem;
    }
}

@media (max-width: 992px) {
    .header-content {
        margin-top: 20rem;
        padding-bottom: 20rem;
    }

    .header-content__title {
        font-size: 11rem;
        margin-bottom: -4rem;
    }

    .header-content__secondtitle {
        font-size: 8.5rem;
        margin-bottom: 2rem;
        max-width: 57rem;
    }

    .header-content__description {
        font-size: 1.8rem;
    }

    .header-arrow__img {
        top: 17rem;
        left: -9px;
    }

    .aboutus-left__caption {
        font-size: 2.4rem;
        max-width: 30rem;
    }

    .aboutus-right__caption {
        font-size: 1.8rem;
        margin-top: 4rem;
    }


    .aboutus-right__description {
        font-size: 1.4rem;
        margin-top: 4rem;
    }

    .aboutus-right__btn {
        margin-top: 2rem;
    }

}

@media (max-width: 768px) {

    .nav {
        display: flex;
    }

    .menu {
        display: none;
    }

    .nav__btn {
        display: flex;
    }

    .nav-menu {
        display: block;
    }

    .nav-logo {
        font-size: .2rem;
    }

    .header-content {
        text-align: center;

    }

    .header-content__title {
        font-size: 9.2rem;
        margin-bottom: -3.4rem;
    }

    .header-content__secondtitle {
        text-align: center;
        max-width: 52rem;
        font-size: 7rem;
    }

    .header-content__description {
        font-size: 1.6rem;
    }

    .header-arrow__img {
        top: 17rem;
        left: -16px;
    }

    .aboutus {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .aboutus-left {
        padding: 0;

    }

    .aboutus-left__caption {
        padding: 15rem 0 15rem 0;
        font-size: 2rem;


    }

    .aboutus-right__wrapper {
        width: 100%;
        align-items: center;
        margin-top: 4rem;
    }
    .aboutus-right__title {
        font-size: 2.5rem;
    }
    .aboutus-right__line {
        margin: 0 auto;
        width: 13.5rem;
    }

    .aboutus-right__caption {
        padding: 0 1.5rem;
    font-size: 1.6rem;
    }

    .aboutus-right__description {
        padding: 0 1.5rem;
        font-size: 1.2rem;

    }
    .aboutus-right__btn {
        text-transform: uppercase;
        font-size: 1.4rem;
        width: 20rem;
        height: 4rem;
        margin-top: 0;
    
    }
}

@media (max-width: 650px) {

    .nav__wrapper {
        padding: 0 0 0 1rem;
        align-items: center;
    }

    .nav-menu {
        width: 25rem;
    }

    .nav-menu__title {
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
    }

    .nav-menu__title::after {
        width: 17rem;
        top: 3.3rem;
    }

    .mobile-menu__item {
        padding-bottom: 1rem;
    }

    .mobile-menu__link {
        font-size: 1.6rem;
    }

    .nav-logo__link {
        font-size: 3rem;
        align-items: center;
    }

    .nav-logo__link::after {
        left: 1.8rem;
        height: 0.3rem;
    }

    .nav-logo__link::before {
        left: 2rem;
        top: 4.3rem;
        width: 2.8rem;
        height: 0.3rem;
    }

    .nav__btn {
        width: 7rem;
        height: 5.5rem;
        margin: 3rem 1.5rem;
    }

    .header-content {
        text-align: center;
    }

    .header-content__title {
        font-size: 8rem;
        margin-bottom: -1.8rem;
        text-align: center;
    }

    .header-content__secondtitle {
        font-size: 6rem;
        text-align: center;
        max-width: 40rem;
        margin: 0 auto;
    }

    .header-content__description {
        font-size: 2rem;
        max-width: 30rem;
        margin: 2rem auto;

    }



}

@media (max-width: 490px) {

    .nav__btn {
        width: 7rem;
        height: 5rem;
        padding: 0;
    }

    .header-content {
        text-align: center;
        margin-top: 29rem;
    }

    .header-content__title {
        font-size: 5rem;
        margin-bottom: -1.5rem;
    }

    .header-content__secondtitle {
        font-size: 3.5rem;
        max-width: 27rem;
        margin: 0 auto 1.5rem auto;

    }

    .header-content__description {
        font-size: 1.8rem;
        max-width: 30rem;

    }

    .header-arrow__img {
        top: 13.5rem;
        left: -16px;
    }

}