@media (max-width: 1900px) {}

@media (max-width: 1600px) {}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .header-content {
        margin-top: 20rem;
        padding-bottom: 20rem;
    }

    .header-content__title {
        font-size: 9rem;
        margin-bottom: -3rem;
    }

    .header-content__secondtitle {
        font-size: 7rem;
        margin-bottom: 2rem;
        max-width: 47rem;
    }

    .header-content__description {
        font-size: 1.6rem;
    }
    .header-arrow__img{
        top: 22rem;
        left: 0rem;
    }

}

@media (max-width: 767px) {

    .nav {
        display: flex;
    }

    .menu {
        display: none;
    }

    .nav__btn {
        display: flex;
    }

    .nav-menu {
        display: block;
    }

    .nav-logo {
        font-size: .2rem;
    }

    .header-content {
        text-align: center;

    }

    .header-content__secondtitle {
        text-align: center;
        max-width: 51rem;
    }

}

@media (max-width: 650px) {

    .nav__wrapper {
        padding: 0 0 0 2rem;
        align-items: center;
    }

    .nav-menu {
        width: 25rem;
    }

    .nav-menu__title {
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
    }

    .nav-menu__title::after {
        width: 17rem;
        top: 3.3rem;
    }

    .mobile-menu__item {
        padding-bottom: 1rem;
    }

    .mobile-menu__link {
        font-size: 1.6rem;
    }

    .nav-logo__link {
        font-size: 3rem;
        align-items: center;
    }

    .nav-logo__link::after {
        left: 1.8rem;
        height: 0.3rem;
    }

    .nav-logo__link::before {
        left: 2rem;
        top: 4.3rem;
        width: 2.8rem;
        height: 0.3rem;
    }

    .nav__btn {
        width: 7rem;
        height: 5.5rem;
        margin: 3rem 1.5rem;
    }

    .header-content {
        text-align: center;
    }

    .header-content__title {
        font-size: 8rem;
        margin-bottom: -1.8rem;
        text-align: center;
    }

    .header-content__secondtitle {
        font-size: 6rem;
        text-align: center;
        max-width: 40rem;
        margin: 0 auto;
    }

    .header-content__description {
        font-size: 2rem;
        max-width: 30rem;
        margin: 2rem auto;

    }
    .header-arrow__img{
        top: 17rem;
        left: 0rem;
    }

}

@media (max-width: 490px) {
    .nav__btn {
        width: 7rem;
        height: 5rem;
        padding: 0;
    }

    .header-content {
        text-align: center;
        margin-top: 29rem;
    }

    .header-content__title {
        font-size: 5rem;
        margin-bottom: -1.5rem;
    }

    .header-content__secondtitle {
        font-size: 3.5rem;
        max-width: 27rem;
        margin: 0 auto 1.5rem auto;

    }

    .header-content__description {
        font-size: 1.8rem;
        max-width: 30rem;

    }


}

